body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden; }

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: aqua; }

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite; }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite; } }
  .star:nth-child(1) {
    --star-tail-length: 6.08em;
    --top-offset: 77.15vh;
    --fall-duration: 6.948s;
    --fall-delay: 7.56s; }
  .star:nth-child(2) {
    --star-tail-length: 7.49em;
    --top-offset: 12.86vh;
    --fall-duration: 7.893s;
    --fall-delay: 6.958s; }
  .star:nth-child(3) {
    --star-tail-length: 6.54em;
    --top-offset: 29.56vh;
    --fall-duration: 8.295s;
    --fall-delay: 0.469s; }
  .star:nth-child(4) {
    --star-tail-length: 7.25em;
    --top-offset: 66.16vh;
    --fall-duration: 8.894s;
    --fall-delay: 6.601s; }
  .star:nth-child(5) {
    --star-tail-length: 6.26em;
    --top-offset: 55.98vh;
    --fall-duration: 9.9s;
    --fall-delay: 1.62s; }
  .star:nth-child(6) {
    --star-tail-length: 6.9em;
    --top-offset: 29.12vh;
    --fall-duration: 8.683s;
    --fall-delay: 5.229s; }
  .star:nth-child(7) {
    --star-tail-length: 5.6em;
    --top-offset: 97.22vh;
    --fall-duration: 8.356s;
    --fall-delay: 8.449s; }
  .star:nth-child(8) {
    --star-tail-length: 7.47em;
    --top-offset: 30.68vh;
    --fall-duration: 10.782s;
    --fall-delay: 1.548s; }
  .star:nth-child(9) {
    --star-tail-length: 6.13em;
    --top-offset: 22.29vh;
    --fall-duration: 9.922s;
    --fall-delay: 4.334s; }
  .star:nth-child(10) {
    --star-tail-length: 6.14em;
    --top-offset: 2.01vh;
    --fall-duration: 8.974s;
    --fall-delay: 3.597s; }
  .star:nth-child(11) {
    --star-tail-length: 6.15em;
    --top-offset: 75.61vh;
    --fall-duration: 6.547s;
    --fall-delay: 7.989s; }
  .star:nth-child(12) {
    --star-tail-length: 6.03em;
    --top-offset: 15.44vh;
    --fall-duration: 11.159s;
    --fall-delay: 0.488s; }
  .star:nth-child(13) {
    --star-tail-length: 7.19em;
    --top-offset: 70.39vh;
    --fall-duration: 6.271s;
    --fall-delay: 5.143s; }
  .star:nth-child(14) {
    --star-tail-length: 7.29em;
    --top-offset: 63.91vh;
    --fall-duration: 9.719s;
    --fall-delay: 2.172s; }
  .star:nth-child(15) {
    --star-tail-length: 6.62em;
    --top-offset: 89.37vh;
    --fall-duration: 11.19s;
    --fall-delay: 8.635s; }
  .star:nth-child(16) {
    --star-tail-length: 5.16em;
    --top-offset: 44.68vh;
    --fall-duration: 11.397s;
    --fall-delay: 1.596s; }
  .star:nth-child(17) {
    --star-tail-length: 5.86em;
    --top-offset: 3.12vh;
    --fall-duration: 10.683s;
    --fall-delay: 6.913s; }
  .star:nth-child(18) {
    --star-tail-length: 5.45em;
    --top-offset: 89.82vh;
    --fall-duration: 7.844s;
    --fall-delay: 2.789s; }
  .star:nth-child(19) {
    --star-tail-length: 6.23em;
    --top-offset: 30.36vh;
    --fall-duration: 8.009s;
    --fall-delay: 0.886s; }
  .star:nth-child(20) {
    --star-tail-length: 5.3em;
    --top-offset: 8.43vh;
    --fall-duration: 6.492s;
    --fall-delay: 7.154s; }
  .star:nth-child(21) {
    --star-tail-length: 5.14em;
    --top-offset: 23.67vh;
    --fall-duration: 10.191s;
    --fall-delay: 4.31s; }
  .star:nth-child(22) {
    --star-tail-length: 7.26em;
    --top-offset: 21.58vh;
    --fall-duration: 11.186s;
    --fall-delay: 7.252s; }
  .star:nth-child(23) {
    --star-tail-length: 6.35em;
    --top-offset: 41.95vh;
    --fall-duration: 11.085s;
    --fall-delay: 8.819s; }
  .star:nth-child(24) {
    --star-tail-length: 5.18em;
    --top-offset: 0.82vh;
    --fall-duration: 7.775s;
    --fall-delay: 6.812s; }
  .star:nth-child(25) {
    --star-tail-length: 6.77em;
    --top-offset: 0.41vh;
    --fall-duration: 8.806s;
    --fall-delay: 4.611s; }
  .star:nth-child(26) {
    --star-tail-length: 5.13em;
    --top-offset: 1.4vh;
    --fall-duration: 8.609s;
    --fall-delay: 5.206s; }
  .star:nth-child(27) {
    --star-tail-length: 5.58em;
    --top-offset: 66.81vh;
    --fall-duration: 7.572s;
    --fall-delay: 9.557s; }
  .star:nth-child(28) {
    --star-tail-length: 7.17em;
    --top-offset: 2.36vh;
    --fall-duration: 8.083s;
    --fall-delay: 2.764s; }
  .star:nth-child(29) {
    --star-tail-length: 7.24em;
    --top-offset: 97.13vh;
    --fall-duration: 8.389s;
    --fall-delay: 4.034s; }
  .star:nth-child(30) {
    --star-tail-length: 5.3em;
    --top-offset: 49.86vh;
    --fall-duration: 7.546s;
    --fall-delay: 8.61s; }
  .star:nth-child(31) {
    --star-tail-length: 5.1em;
    --top-offset: 39.64vh;
    --fall-duration: 11.074s;
    --fall-delay: 5.605s; }
  .star:nth-child(32) {
    --star-tail-length: 6.16em;
    --top-offset: 83.7vh;
    --fall-duration: 8.287s;
    --fall-delay: 2.822s; }
  .star:nth-child(33) {
    --star-tail-length: 6.54em;
    --top-offset: 38.8vh;
    --fall-duration: 10.684s;
    --fall-delay: 6.013s; }
  .star:nth-child(34) {
    --star-tail-length: 7.25em;
    --top-offset: 93.78vh;
    --fall-duration: 11.606s;
    --fall-delay: 8.025s; }
  .star:nth-child(35) {
    --star-tail-length: 6.55em;
    --top-offset: 47.14vh;
    --fall-duration: 9.042s;
    --fall-delay: 2.143s; }
  .star:nth-child(36) {
    --star-tail-length: 6.1em;
    --top-offset: 54.11vh;
    --fall-duration: 7.147s;
    --fall-delay: 7.933s; }
  .star:nth-child(37) {
    --star-tail-length: 5.58em;
    --top-offset: 63.47vh;
    --fall-duration: 9.738s;
    --fall-delay: 7.174s; }
  .star:nth-child(38) {
    --star-tail-length: 5.88em;
    --top-offset: 83.47vh;
    --fall-duration: 7.08s;
    --fall-delay: 2.266s; }
  .star:nth-child(39) {
    --star-tail-length: 5.21em;
    --top-offset: 93.92vh;
    --fall-duration: 11.993s;
    --fall-delay: 8.533s; }
  .star:nth-child(40) {
    --star-tail-length: 7.27em;
    --top-offset: 4.7vh;
    --fall-duration: 11.566s;
    --fall-delay: 9.244s; }
  .star:nth-child(41) {
    --star-tail-length: 5.42em;
    --top-offset: 16.28vh;
    --fall-duration: 10.052s;
    --fall-delay: 5.459s; }
  .star:nth-child(42) {
    --star-tail-length: 5.62em;
    --top-offset: 31.24vh;
    --fall-duration: 8.029s;
    --fall-delay: 9.731s; }
  .star:nth-child(43) {
    --star-tail-length: 5.01em;
    --top-offset: 81.81vh;
    --fall-duration: 11.467s;
    --fall-delay: 6.611s; }
  .star:nth-child(44) {
    --star-tail-length: 7.44em;
    --top-offset: 13.51vh;
    --fall-duration: 9.091s;
    --fall-delay: 8.136s; }
  .star:nth-child(45) {
    --star-tail-length: 5.41em;
    --top-offset: 60.11vh;
    --fall-duration: 10.198s;
    --fall-delay: 9.232s; }
  .star:nth-child(46) {
    --star-tail-length: 6.19em;
    --top-offset: 63.17vh;
    --fall-duration: 9.118s;
    --fall-delay: 1.509s; }
  .star:nth-child(47) {
    --star-tail-length: 6.05em;
    --top-offset: 63.99vh;
    --fall-duration: 8.995s;
    --fall-delay: 1.207s; }
  .star:nth-child(48) {
    --star-tail-length: 7.18em;
    --top-offset: 63.95vh;
    --fall-duration: 9.928s;
    --fall-delay: 0.057s; }
  .star:nth-child(49) {
    --star-tail-length: 7.18em;
    --top-offset: 72.56vh;
    --fall-duration: 7.663s;
    --fall-delay: 1.224s; }
  .star:nth-child(50) {
    --star-tail-length: 6.75em;
    --top-offset: 90.48vh;
    --fall-duration: 10.803s;
    --fall-delay: 7.742s; }
  .star::before, .star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite; }
  .star::before {
    transform: rotate(45deg); }
  .star::after {
    transform: rotate(-45deg); }

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0); } }
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1; }
  70%, 80% {
    width: 0;
    opacity: 0.4; }
  100% {
    width: 0;
    opacity: 0; } }
@keyframes blink {
  50% {
    opacity: 0.6; } }

/*# sourceMappingURL=Website%20background%20SCSS%20file.css.map */
